* {
    box-sizing: border-box;
}

html {
    margin: auto;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: system-ui;
    /* font-family: math; */
}

body.light {
    --text: dark;
    --background: #f5f5f5;
}

body.dark {
    --text: white;
    --background: dark;
}

/* header {
    padding: 15px;
    display: flex;
    gap: 1vw;
    align-items: center;


    img {
        max-height: 30px;
    }

    h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: medium;

    }
}

nav {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 175px;
    gap: 1vw;

    height: 93vh;
    float: left;
    box-shadow: 0px 0px 2px grey;
    border-radius: 0px 10px 10px 0;


    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 20px;
        
    }

    li a:link, li a:visited {
        color: #28a745;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
    }

    li a:hover {
        background-color: rgb(63, 63, 63);
    }

    .menu-icon {
        display: flex;
        gap: 1vw;
        align-items: center;
    }

    .menu {
        flex: 1;
    }
    

    img {
        max-height: 40px;
    }

    h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: medium;

    }

    
} */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;

    /* position: sticky; */
    top: 0;
    z-index: 10;

    box-shadow: 0px 0px 2px grey;

    img {
        height: 4vh;
        /* margin-right: 20px; */
        /* cursor: pointer; */
    }

    h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: medium;
    }

    i {
        font-size: 24px;
        cursor: pointer;
    }


}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}




.close-icon {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

nav {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 175px;
    margin-top: 20px;
    gap: 1vw;
    height: 85vh;
    float: left;
    box-shadow: 0px 0px 2px grey;
    border-radius: 0px 10px 10px 0;

    position: sticky;
    top: 20px;
    z-index: 1;

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 30px;
        font-size: large;
    }

    li a {
        color: #28a745;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
    }

    li a:hover {
        background-color: rgb(63, 63, 63);
    }
}

.menu {
    display: flex;
    flex-direction: column;
    
}

.menu.open {
    display: flex;
}




.container {
    padding: 15px;
    /* box-shadow: 0px 0px 2px grey; */
    max-width: 1050px;
    font-size: large;
    /* margin: 15px; */
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 45px;
    border-radius: 10px;

    max-height: 85vh;
    
    
    /* margin-bottom: 10vh; */


    h1 {
        margin: 0;
        margin-bottom: 15px;
        border-bottom: 2px solid;

        display: none;
    }


    form {
        display: flex;

        position: fixed;
        bottom: 40px;
        right: 40px;
        /* margin-bottom: 20px; */
        /* padding-bottom: 20px; */
    }

    
    input[type="text"] {
        flex: 1;
        padding: 10px;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-right: 1vw;
    }
    
    button {
        padding: 10px;
        font-size: 18px;
        border: none;
        background-color: #28a745;
        color: white;
        border-radius: 3px;
        cursor: pointer;

    }

    button {
        margin-right: .5vw;
    }

    

    button:last-child {
        margin-right: 0;
    }
    
    button:hover {
        background-color: #218838;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 18px;

        border-radius: 10px;
        margin-bottom: 10px;
        /* border-bottom: 1px solid #ccc; */

        overflow: hidden;
        /* white-space: nowrap; */
        text-overflow: ellipsis;

        box-shadow: 0px 0px 2px grey;

        h2 {
            display: none;
        }
    }
    
    li span {
        overflow: hidden;
        text-overflow: ellipsis;

        display: flex;
        flex-wrap: wrap;
        /* white-space: nowrap; */
        flex: 1;
        margin-right: 10px;
        /* margin: 10px; */
        word-wrap: anywhere;
        /* word-wrap: break-word; */


    }
    
    
    li:last-child {
        border-bottom: none;
    }

    li:hover {
        /* background-color: rgb(62, 62, 62); */
        cursor: pointer;
    }
    
    li.completed {
        text-decoration: line-through;

        color: #5a5a5a;
        background-color: #363636;
        /* margin-top: 5vh; */

        /* span {
            transition: .3s ease-in-out;
        } */

        button {
            background-color: #1f1f1f;
            color: #1f1f1f !important;
            text-decoration: none !important;
        }

    }


    
}




/* Modal styling */
.modal {
    display: none; 
    position: fixed; 
    z-index: 50; 
    /* padding-top: 60px;  */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 12px;
    border: 1px solid #888;
    width: 70%; 

    /* max-width: 550px; */

    border-radius: 10px;
    overflow: hidden;
    text-wrap: wrap;

    p {
        overflow: hidden;
        max-width: 550px;
        margin-top: 0px;
        margin-bottom: 15px;
        word-wrap: anywhere;
        max-width: 85%;
        line-height: 1.5em;
    }

    img {
        max-height: 50vh;
        border-radius: 10px;
        object-fit: cover;
        max-width: 100%;
    }

    #modal-text h2 {
        margin-top: 0;
    }

}


.close, .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
    position: relative;
    right: 0px;

}

.close:hover, .close-btn:hover,
.close:focus, .close-btn:hover {
    color: black;

    color: white;

    text-decoration: none;
    cursor: pointer;
}


.not-active {
    opacity: 50%;
}

.flex {
    display: flex;
    gap: 2vw;
}

@media screen and (min-width: 200px) {
    nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        transition: left 0.3s ease;
        flex-direction: column;
        box-shadow: none;
        border-radius: 0;
        margin-top: 0;

        

        ul {
            flex-direction: column;
            margin-top: 80px;
            font-size: x-large;
            text-align: center;
        }

        li {
            padding-bottom: 20px;
            border-bottom: thin solid white;
            font-size: x-large;
        }

        .menu {
            
        }


    }

    nav.open {
        left: 0;
        height: 100%;
        max-width: 20%;
    }

    .close-icon {
        display: block;
    }
}

@media screen and (max-width: 1500px) {
            





    header {
        box-shadow: none;

        
        i:hover {
            opacity: 60%;
        }

        
    }



    .modal-content {
        padding-top: 60px;
    }



}


@media screen and (max-width: 680px) {
    

    nav.open {
        left: 0;
        height: 100%;
        max-width: 100%;
    }



    form {
        flex-direction: column;

        position: fixed;
        bottom: 0 !important;
        right: 0 !important;
        padding: 12px;
        width: 100%;

        input {
            margin-bottom: 1vh;
        }
    }

    #report-modal {
        form {
            position: relative;
        }
    }

    /* header {
        h1 {
            display: none;
        }
    } */
    

    .modal-content {
        width: 90%;
    }

    .container ul {
        flex-direction: column;
    }

    .container {
        /* margin: 15px; */
        margin: 0;
        
        /* margin-bottom: 20vh; */
        
        box-shadow: none;
        max-width: -webkit-fill-available;

        form {
            padding-top: 20px;
            padding-bottom: 30px;
        }

        input[type="text"] {
            margin-right: 0;
        }

        h1 {
            display: none;
        }
    }

    .container {
        margin-bottom: 20vh !important;
        max-height: 100% !important;
    } 

    header {
        justify-content: space-between;
    }

}

@media screen and (prefers-color-scheme: light) {

    header{
        background-color: white;

        img {
            /* filter:invert(1); */
        }


    }

    .close:hover, .close-btn:hover,
.close:focus, .close-btn:hover {
    color: black;

    text-decoration: none;
    cursor: pointer;
}


    nav {
        li a:hover {
            background-color: #3f3f3f;
        }

        img {
            filter:invert(1);
        }
    }


    .container {
        
        #todo-form {
            background-color: white;
            }

        li {
            /* box-shadow: 0px 0px 5px rgb(103, 103, 103); */
        }

        button {
                /* background-color: #18672a; */
                /* background-color: rgb(70, 70, 70) !important; */
                color: rgb(255, 255, 255) !important;
                /* box-shadow: 0px 0px 5px rgb(103, 103, 103); */
            }

            button:hover {
                opacity: 60%;
            }
        }



    
}

@media screen and (prefers-color-scheme: dark) {
    .modal-content {
        background-color: #3c3c3c;
        border: none !important;
        box-shadow: 2px 2px 5px black;
    }

    /* header {
        background-color: rgb(0, 0, 0, 0.9);
    } */

    header{
        /* background-color: white; */

        img {
            filter:invert(1);
        }


    }


    .container {

        #todo-form {
            background-color: rgb(0, 0, 0, 0.9);
            }

        li {
            background-color: #3c3c3c;
            border: none !important;
            box-shadow: 2px 2px 5px black;
        }

        li.completed button, .modal-content.completed button {
            background-color: rgb(40,40,40) !important;
            }

        li.completed {
            background-color: #0f0f0f !important;
        }
                


        button {
            /* background-color: #18672a; */
            background-color: white !important;
            color: black !important;

            box-shadow: 2px 2px 5px black;
        }

        button:hover {
            opacity: 60%;
        }
    }

}

@media screen and (min-width: 950px) {
    header {
        background: none !important;
        box-shadow: none;
        position: relative;
        top: 0;
    }
}
